# =========================
# PyInstaller
# =========================
build/
dist/
*.spec

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Virtual Environment
# =========================
.venv/
venv/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# Windows
# =========================
Thumbs.db

# =========================
# macOS
# =========================
.DS_Store